@use 'mixins' as *;
@use 'sass:map';

$section-spacing-scale: (
  xs: (
    min: 40px,
    max: 80px,
  ),
  sm: (
    min: 48px,
    max: 100px,
  ),
  base: (
    min: 60px,
    max: 120px,
  ),
  lg: (
    min: 112px,
    max: 160px,
  ),
);

@each $name, $size in $section-spacing-scale {
  .section-p-t-#{$name} {
    @include fluid-space(padding-top, map.get($size, min), map.get($size, max));
  }

  .section-p-b-#{$name} {
    @include fluid-space(padding-bottom, map.get($size, min), map.get($size, max));
  }

  .section-p-block-#{$name} {
    @include fluid-space(padding-block, map.get($size, min), map.get($size, max));
  }
}
